################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AplikacijaZaZeljeznickuStanicuDRAOS2.v12.suo
/AplikacijaZaZeljeznickuStanicuDRAOS2/bin/Debug/AplikacijaZaZeljeznickuStanicuDRAOS2.vshost.exe.manifest
