################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AplikacijaZaZeljeznickuStanicuDRAOS2.v12.suo
/AplikacijaZaZeljeznickuStanicuDRAOS2/bin/*
/AplikacijaZaZeljeznickuStanicuDRAOS2/obj/*
/AplikacijaZaZeljeznickuStanicuDRAOS2/debug/*
/.vs/*
/packages/*
AplikacijaZaZeljeznickuStanicuDRAOS2/obj/Debug/AplikacijaZaZeljeznickuStanicuDRAOS2.csproj.FileListAbsolute.txt
AplikacijaZaZeljeznickuStanicuDRAOS2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.exe
*.cache
