################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AplikacijaZaZeljeznickuStanicuDRAOS2.v12.suo
/AplikacijaZaZeljeznickuStanicuDRAOS2/bin/
/AplikacijaZaZeljeznickuStanicuDRAOS2/debug/
/.vs/
/packages/
